
ul{
    display: flex;
    flex-wrap: wrap;
}

li{ 
    display: flex;
    width: 10%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    list-style-type: none;
    margin: 1rem;
    background-color: palegoldenrod;
    align-items:center;
    justify-content: center ;

}

.fizzbuzz{
    background-color: palegreen;
}

.fizz{
    background-color: paleturquoise;
}

.buzz{
    background-color: palevioletred;
}
